@using loginAndReg.Models
@model User

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="~/css/login.css">
    </head>
    <body>
        <h1>Login to this Cool Site!</h1>
        <a href="/">Register</a>

        <form asp-action="CheckingUser" asp-controller="Home" method="POST">

            <span asp-validation-for="Email"></span>
            <label asp-for="Email">Email</label>
            <input asp-for="Email">

            <span asp-validation-for="Password"></span>
            <label asp-for="Password">Password</label>
            <input asp-for="Password">

            <input type="submit" value="Login">

        </form>

    </body>
</html>